@model PasswordManagerWEBAPP.Models.IndexViewModel

@{
    ViewData["Title"] = "Password Manager";
}

<h2>Password Manager</h2>

@if (Model.Passwordmngrs.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Account</th>
                <th>Password</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var passwordmngr in Model.Passwordmngrs)
            {
                <tr>
                    <td>@passwordmngr.Accountr</td>
                    <td>@passwordmngr.Passwordr</td>
                    <td>@passwordmngr.Description</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = passwordmngr.Id })">Edit</a>
                    </td>
                    <td>
                        <form action="@Url.Action("Delete", new { passwordmngrId = passwordmngr.Id })" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No accounts found.</p>
}

<div>
    <a href="@Url.Action("Create")">Create New Password</a>
</div>
